.addparts-container {
  max-width: 500px;
  margin: auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
}

.addparts-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.addparts-form {
  display: flex;
  flex-direction: column;
}

.addparts-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.addparts-form input,
.addparts-form select,
.addparts-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid rgb(196, 177, 177);
  font-size: 14px;
}

.addparts-btn {
  padding: 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.addparts-btn:hover {
  background-color: #0a7a0a;
}

.success-msg {
  margin-top: 15px;
  text-align: center;
  color: green;
  font-weight: bold;
}
