.profile-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}

.profile-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-form label {
  font-weight: 600;
  margin-bottom: 5px;
}

.profile-form input {
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid gray;
}

.profile-form input:focus {
  border-color: blue;
  outline: none;
}

.update-btn {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #003f9c;
}

.success-msg {
  margin-top: 10px;
  color: green;
  text-align: center;
}

hr {
  margin: 20px 0;
}

.logout-btn {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: darkred;
}
